<setion class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trend' %>
      <%= render 'feed' %> 
      <%= render 'following' %>
      
    </div>
  </div>
</setion>





